# Autodetect text files
# * text=auto

# * binary

# ...Unless the name matches the following
# overriding patterns

# Definitively text files 
 *.txt text eol=lf
 *.s text eol=lf
 *.asm text eol=lf
 *.c text eol=lf
 *.cpp text eol=lf
 *.c++ text eol=lf
 *.pas text eol=lf
 *.h text eol=lf
 *.pl text eol=lf
 *.py text eol=lf
 *.tcl text eol=lf
 *.wish text eol=lf
 *.php text eol=lf
 *.java text eol=lf
 *.js text eol=lf
 *.cmd text eol=crlf
 *.sh text eol=lf
 *.ini text eol=lf
 *.inc text eol=lf

 *.scad text eol=lf
 *.pov text eol=lf
 *.ps text eol=lf
 *.md text eol=lf
 *.htm text eol=lf
 *.html text eol=lf
 *.css text eol=lf
 
# # Ensure those won't be messed up with
 *.jpg binary
 *.data binary
 *.pdf binary
 *.pptx binary
 *.docx binary
 *.xlsx binary
 *.gz binary
 *.bz2 binary
 *.dat binary
 *.tar binary
 *.exe binary
 *.elf binary
 *.out binary
 *.bin binary
 *.obj binary
 *.so binary
 *.o binary

 * text=auto
# --- end ---

