# Autodetect text files
# * text=auto

# * binary

# ...Unless the name matches the following
# overriding patterns

# Definitively text files 
 *.txt text eol=lf
 *.hex text eol=lf
 *.s text eol=lf
 *.asm text eol=lf
 *.c text eol=lf
 *.cpp text eol=lf
 *.c++ text eol=lf
 *.pas text eol=lf
 *.h text eol=lf
 *.pl text eol=lf
 *.py text eol=lf
 *.tcl text eol=lf
 *.wish text eol=lf
 *.php text eol=lf
 *.java text eol=lf
 *.js text eol=lf
 *.cmd text eol=crlf
 *.sh text eol=lf
 *.ini text eol=lf
 *.inc text eol=lf
 *.resc text eol=lf
 *.repl text eol=lf

# Grafika
 *.scad text eol=lf
 *.svg text eol=lf
 *.csg text eol=lf
 *.pov text eol=lf
 *.ps text eol=lf
 *.md text eol=lf
 *.htm text eol=lf
 *.html text eol=lf
 *.css text eol=lf

# Binarky Executable
 *.dat binary
 *.data binary
 *.bin binary
 *.exe binary
 *.elf binary
 *.out binary
 *.obj binary
 *.so binary
 *.o binary

# NOTEs DOCs
 *.jpg binary
 *.vsdx binary
 *.vsd  binary
 *.pdf binary
 *.one binary
 *.onex binary

# Office
 *.pptx binary
 *.docx binary
 *.xlsx binary
 *.ppt binary
 *.doc binary
 *.xls binary

# Archyves
 *.gz binary
 *.bz2 binary
 *.tar binary
 *.zip binary
 *.7z binary

# Default
 * text=auto

# --- end ---

